*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.nav_content{
    display: flex;
    align-items: center;
    gap: 3vw;
}
.nav_content a {
    text-decoration: none;
    color: #314584;
    font-weight: bold;
    font-size: medium;
    
}
.nav_content a:hover{
    color: #ff0000;
}
nav button{
    background-color: white;
    color: #ff0000;
    font-size: medium;
    border: none ;
    padding: 10px 12px;
    box-shadow: #63636333 0px 4px 8px 0px  

}
nav button:hover{
    background-color: #314584;
}
.first_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.left_section{
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}
.left_section h1{
    color: #314584;
    font-size: xx-large
    font-weight: bold;
}
.right_section img{
    width: 30vw;
}
.btns{
    display: flex;
    gap: 3vw;
}
.btn1{
    background-color: #ff0000;
    color: aliceblue;
    
    border: none ;
    padding: 10px 12px;
    border-radius: 20px;

}
.btn2{
    background-color: white;
    color: #314584; 
    border: none ;
    padding: 10px 12px;
    border-radius: 20px;

}