* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.nav_content {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.nav_content a {
    text-decoration: none;
    color: #314584;
    font-weight: bold;
    font-size: medium;

}

.nav_content a:hover {
    color: #ff0000;
}

nav button {
    background-color: white;
    color: #ff0000;
    font-size: medium;
    border: none;
    padding: 10px 12px;
    box-shadow: #63636333 0px 4px 8px 0px
}

nav button:hover {
    background-color: #314584;
}
.first_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.left_section{
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    
}
.left_section h1{
    color: #314584;
    font-size: xx-large;
    font-weight: bold;
}
.right_section img{
    width: 30vw;
}
.btns{
    display: flex;
    gap: 3vw;
}
.btn1{
    background-color: #ff0000;
    color: aliceblue;
    
    border: none ;
    padding: 10px 12px;
    border-radius: 20px;

}
.btn2{
    background-color: white;
    color: #314584; 
    border: none ;
    padding: 10px 12px;
    border-radius: 20px;
}

.section-2 {
  
    padding-top: 80px;
    
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.sec2-first h1{
    font-size: 35px;
    color: rgba(27, 27, 129, 0.848);
}
.sec2-first button{
    background-color: rgb(255 12 12 / 77%);
    border: none;
    padding: 15px;
    border-radius: 80px;
    width: 40%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sec2-first {
    display: flex;
    flex-direction: column;
    gap: 80px;
    flex-basis: 20%;
}

.sec2-secound{
    width: 20%;
    padding: 50px 35px;
    border-radius: 4px;
    box-shadow: 0px 0px 11px 2px #b8b8b87e;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.sec2-secound h4{
    font-size: 20px;
    color: rgba(27, 27, 129, 0.848);
}
.sec2-secound p{
    color: rgba(42, 42, 100, 0.848);
    font-weight: 500;
    font-size: 19px;
    width: 66%;
}
.contact_us{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-left: 30px;
}
.contact_us h2{
    color: #ff0000;
}
.contact_us h1{
    color: #314584;
}
.info input{
    padding-right: 30vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border: none;
    background-color: #f4fafe;
}
.msg textarea{
    padding-right: 73vw;
    padding-bottom: 10vh;
    border: none;
    background-color: #f4fafe;
}
.contact_us{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-left: 30px;
}
.info input{
    padding-right: 30vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border: none;
    background-color: #f4fafe;
}
.msg textarea{
    padding-right: 73vw;
    padding-bottom: 10vh;
    border: none;
    background-color: #f4fafe;
    font-size: 15px;
    width: 70%;
}
.send{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
footer{
    padding: 50px 0;
    background-color: #314584;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}
.footer-div1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-div1 h1{
    color: red;
    font-size:  50px;
} 
.div-a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
   
}
.div-a a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

